.datatablee {
  height: 820px;
  padding: 20px;
  width: 97%;
  display: flex;
  gap: 20px;
  .datatableTitle {
    width: 100%;
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.PENDING_APPROVAL {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.REJECTED {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
    &.APPROVED {
      background-color: rgba(255, 0, 0, 0.05);
      color: green;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}

.advanceDetail {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;

  h4 {
    text-align: center;
    color: var(--second-color);
    margin-top: 5px;
  }
  .backAdvance {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    gap: 15px;
    label {
      margin-bottom: 5px;
    }
  }
}

select {
  height: 35px;
  font-weight: 600;
}

.advanceButton {
  width: 100%;
  height: 50px;
  background-color: var(--second-color);
  border: none;
  color: white;
  font-weight: 600;
}

.pdf {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pdf-form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 5px;
}
