.single {
  display: flex;
  .singleContainer {
    flex: 10;
    .top {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      h2 {
        text-align: center;
        color: var(--second-color);
      }
    }
  }
}
.bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  }

  .bottom-bot {
    display: flex;

    gap: 20px;
  }
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 350px;
  input {
    line-height: 35px;
  }
}
.personal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
