:root {
  --first-color: #5426fa;
  --light-gray: rgba(128, 128, 128, 0.705);
  --hover-color: #5223fd2a;
}

.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(233, 232, 232);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--first-color);
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.5px solid lightgray;
      padding: 3px;
      width: 80%;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
          font-size: 12px;
        }
      }
    }
    .items {
      display: flex;
      align-items: center;
      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon {
          font-size: 20px;
          color: var(--first-color);
        }
        .avatar {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
